.info-paragraph
  width 55%
  position relative
  float right
  clear both

  p
    font-size 20px
    font-weight 300
    letter-spacing .5px
    line-height 33px
    color #eee

  .info-label
    font-family "brandon-grotesque", Arial, sans-serif
    font-size 14px
    font-weight 600
    letter-spacing 6px
    position absolute
    left -200px
    top 4px
    color #4C4C4C
    text-transform uppercase

  @media(max-width: tablet-landscape)
    width 75%

    .info-label
      left -150px

  @media(max-width: tablet)
    width 85%
    float none
    margin 0 auto

    .info-label
      position relative
      left 0

  @media(max-width: mobile)
    width 100%

    p
      font-size 18px
