.laptop
  img
    width 100%

  .caption
    position relative
    left 135px

  @media(max-width: mobile)
    text-align center
    margin-bottom 90px
    
    .caption
      font-size 12px
      left 0
