.project-description
  padding 400px 0

  .dark-gray
    color #4D4D4D

  .details
    margin-bottom 40px

  ul
    font-size 14px
    color #AEAEAE
    padding 0
    margin 0

  .details ul li
    display inline-block
    padding 0 30px

  a
    color #AEAEAE

  a:hover
    color #E2BA58

  .details ul li:first-of-type
    padding 0

  .project-writeup
    font-weight 300
    font-size 28px
    line-height 42px
    letter-spacing .5px
    max-width 575px

  .accolades
    font-size 14px
    font-weight 400
    color #AEAEAE
    margin-top 50px

  @media(max-width: mobile)
    padding 0
    margin-bottom 200px

    .details ul li
      display block
      padding 0
      margin-bottom 15px

    .project-writeup
      font-size 20px
      line-height 34px
