.solo-screen
  position relative
  padding 200px 0

  .solo-screen:last-of-type
    position relative
    padding 200px 0
    margin-bottom 150px

  .solo-wrap
    position relative
    z-index 9999

  img
    width 100%

  .solo-bg-color-humboldt
    width 160%
    height 600px
    position absolute
    bottom 50px
    right -32%
    z-index 1

  .solo-bg-color-stikwood
    width 160%
    height 330px
    position absolute
    bottom 160px
    right -32%
    z-index 1

  .solo-bg-color
    width 160%
    height 940px
    position absolute
    bottom 50px
    right -32%
    z-index 1

  .caption
    position relative
    z-index 9999
    text-align center
    font-size 12px

  @media(max-width: tablet)
    padding 125px 0

    .solo-bg-color
      height 490px
      bottom 82px

    .solo-bg-color-humboldt
      height 330px
      bottom 70px

    .solo-bg-color-stikwood
      height 230px
      bottom 80px

  @media(max-width: mobile)
    padding 0
    top 75px

    .move-up
      top -150px
      position relative

    .solo-bg-color
      height 260px
      bottom -30px
      width 375px
      left -10%

    .solo-bg-color-humboldt
      height 170px
      bottom -50px
      width 375px
      left -10%

    .solo-bg-color-stikwood
      height 110px
      bottom -30px
      width 375px
      left -10%
