.wireframes
  position relative
  padding 0
  margin-bottom 70px
  margin-top 150px

  img
    width 100%
    position relative
    z-index 9999

  .wire-bg-color
    width 5000px
    height 230px
    position absolute
    bottom 4px
    right -100%
    z-index 1

  .caption
    position absolute
    bottom -50px
    width 100%
    text-align center

  @media(max-width: mobile)
    margin-bottom 0
    margin-top 0

    .wire-bg-color
      height 80px
      width 375px
      left -10%
