footer#main-footer
  max-width 858px
  height 460px
  margin 0 auto
  padding-bottom 130px
  padding-top 90px
  display block
  clear both

  .music
    position relative
    float right
    top 180px
    font-family "brandon-grotesque", Arial, sans-serif
    font-size 12px
    font-weight 600
    letter-spacing 2px

    a
      color #3c3c3c

    a:hover
      color #E2BA58

  @media(max-width: tablet)

    ul.project-nav
      padding 0

  @media(max-width: mobile)
    padding-top 30px

    .footer-info
      width 100%
      padding 100px 0

    .email-address
    .sac
      font-size 18px

    .music
      top 50px
      text-align center
      float none

ul.project-nav
  float left

ul.project-nav li
  font-size 28px
  font-weight 300
  letter-spacing .5px
  padding-bottom 35px

footer a:hover
  color #E2BA58

.footer-info
  width 350px
  float right

.label
  font-weight 600
  font-family "brandon-grotesque", Arial, sans-serif
  font-size 12px
  text-transform uppercase
  letter-spacing 2px
  color #3C3C3C
  margin 0
  padding 0
  float left
  width 85px

hr
  border 0
  border-top 1px solid #3C3C3C
  display block
  height 2px
  position relative
  top 5px

.email-address, .sac
  text-align right
  font-size 20px
  font-weight 300
  letter-spacing .5px

.contact
  margin-bottom 70px

#main-footer.condensed-footer
  padding-top 0
  padding-bottom 90px
  height 290px

  @media(max-width: tablet)
    height 210px

  @media(max-width: mobile)
    .footer-info
      width 100%
      padding-top 70px

    .email-address
    .sac
      font-size 18px
