#main
  position relative
  max-width 1250px
  margin 0 auto
  padding 0 150px
  height 100%

#nav-main
  width 100%
  padding 90px 0

  .nav-wrap
    max-width 1090px
    margin 0 auto

  .logo
    width 70px
    float left

  .info
    float right
    font-weight 300
    font-family "brandon-grotesque", Arial, sans-serif
    font-size 14px
    text-transform uppercase
    text-decoration none
    letter-spacing 10px
    color #E2BA58

  a.info:hover
    color #FFF

@media(max-width: tablet-landscape)
  div#main
    padding 0 100px !important

@media(max-width: tablet)
  div#main
    padding 0 50px !important

  #nav-main
    padding 70px 0

@media(max-width: mobile)
  div#main
    padding 0 30px !important

  #nav-main
    padding 40px 0
